.tippy-box[data-theme~="game"] {
  /* 渐变背景，营造深邃科技感 */
  background: linear-gradient(135deg, #000000, #001d2d);
  /* 半透明 */
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  /* 圆角和内边距让整体感觉更友好 */
  border-radius: 10px;
  padding: 10px;
  /* 轻微的白色边框让提示层次更分明 */
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* 阴影效果提升浮动感 */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.tippy-box[data-theme~="game"] .tippy-arrow {
  /* 设置箭头颜色，与背景协调 */
  color: #2c3e50;
}

.tippy-box[data-theme~="game"] .tippy-content {
  /* 内部内容的内边距可以微调 */
  padding: 10px 12px;
}

/* ---------------------------tooltip 内部整体控制------------------------------ */
.tooltip-inner {
  max-width: 300px;
  padding: 0.5rem;
}

/* 标题和描述部分居中 */
.tooltip-inner .tooltip-header {
  text-align: center;
  margin-bottom: 0.5rem;
}

/* 其他额外部分居左 */
.tooltip-inner .tooltip-extra {
  text-align: left;
  margin-bottom: 0.25rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

.tooltip-inner p {
  margin-bottom: 0.5rem;
}

/* ---------------------------------------------------------- */
/* ---------------------------标题部分--------------------------- */
.flat-header {
  background-color: #fff;
  /* border-bottom: 1px solid #eaeaea; */
  padding: 1rem 0;
  position: relative;
}

.header-content {
  position: relative;
}

/* 标题部分居中 */
.header-title {
  font-size: 1.8rem;
  font-weight: 700;
}

.header-extra-text {
  margin-left: 5px;
	font-size: 1rem;
}
/* ---------------------------------------------------------- */

/* .btn-Unique {
  border-width: 3px;
  border-color: #dc3545;
  border-style: solid;
  background-color: white;
  color: #dc3545;
  font-weight: bold;
}

.btn-Epic {
  border-width: 3px;
  border-color: #6f42c1;
  border-style: solid;
  background-color: white;
  color: #6f42c1;
  font-weight: bold;
}

.btn-Masterpiece {
  border-width: 3px;
  border-color: #204987;
  border-style: solid;
  background-color: white;
  color: #204987;
  font-weight: bold;
}

.btn-Rare {
  border-width: 3px;
  border-color: #43956f;
  border-style: solid;
  background-color: white;
  color: #43956f;
  font-weight: bold;
}

.btn-Common {
  border-width: 3px;
  border-color: #6c757d;
  border-style: solid;
  background-color: white;
  color: #6c757d;
  font-weight: bold;
}

.btn-Mythical {
  border-width: 3px;
  border-color: orange;
  border-style: solid;
  background-color: white;
  color: orange;
  font-weight: bold;
} */
